.table {
  margin-top: 50px;
  max-width: 320px;
  width: 100%;
  border: 1px solid #b4b4b4;
}

.table__text {
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid #b4b4b4;
}
.table__text:last-child {
  border-bottom: none;
}
